.up-container{
/* background-color: #6096B4; */
display: flex;
justify-content: center;

}

.search-bar{
    align-items: center;
    width: 30px;
    height: 10px;
    font-size: 5px;
    padding: 5px;
    border-radius: 5px;
}

.button{
    width: 10px;
    height: 10px;
    display: flex;
    display: inline;
}
.single-product{
    border: rgb(168, 168, 168);
    display: grid;
    grid-template-rows: 3fr 1fr;
}